@import "./vars";
@import "./deps";

a {
    text-decoration: none !important;
}

h1 {
    padding: 25px;
    text-align: center;
}

//header
.header {
    position: fixed;
    display: block;
    height: 50px;
    background: $header;
    left: 0;
    right: 0;
    overflow: hidden;
    transition: all 0.5s ease-out, background 1s ease-out;
    transition-delay: 0.2s;
    z-index: 9;

    @include bp(m) {
        height: auto;
        padding: 10px;
    }

    &Wrap {
        display: none;
        align-items: center;

        @include bp(m) {
            display: flex;
        }
    }

    .logo {
        flex-grow: 1;

        img {
            width: 50px;
        }
    }

    .nav {
        padding: 0 20px;
        font-size: 14px;
        text-transform: uppercase;
        transition: 0.2s;
        font-weight: 500;
        cursor: pointer;

        a {
            color: $white;
        }

        &:hover {
            opacity: 0.8;
        }

        &Wrap {
            display: flex;
            align-items: center;
            margin: 0;
        }
    }

    .menuBurger {
        @include bp(m) {
            display: none;
        }
    }

    .burger-container {
        position: relative;
        display: inline-block;
        height: 50px;
        width: 50px;
        cursor: pointer;
        transform: rotate(0deg);
        transition: all 0.3s $cubic;
        user-select: none;
        -webkit-tap-highlight-color: transparent;

        #burger {
            width: 18px;
            height: 8px;
            position: relative;
            display: block;
            margin: -4px auto 0;
            top: 50%;

            .bar {
                width: 100%;
                height: 1px;
                display: block;
                position: relative;
                background: #FFF;
                transition: all 0.3s $cubic;
                transition-delay: 0s;

                &.topBar {
                    transform: translateY(0px) rotate(0deg);
                }

                &.btmBar {
                    transform: translateY(6px) rotate(0deg);
                }
            }
        }
    }

    ul.menu {
        position: relative;
        display: block;
        padding: 0 48px 0;
        list-style: none;

        li.menu-item {
            border-bottom: 1px solid #333;
            margin-top: 5px;
            transform: scale(1.15) translateY(0px);
            opacity: 0;
            transition: transform 0.5s $cubic, opacity 0.6s $cubic;

            @for $i from 1 through $menuItems {
                &:nth-child(#{$i}) {
                    transition-delay: #{0.56 - ($i * 0.07)}s;
                }
            }

            a {
                display: block;
                position: relative;
                color: #FFF;
                font-family: $mukta;
                text-decoration: none;
                font-size: 22px;
                line-height: 2.35;
                font-weight: 200;
                width: 100%;
            }
        }
    }

    &.menu-opened {
        height: 100%;
        background-color: #000;
        transition: all 0.3s ease-in, background 0.5s ease-in;
        transition-delay: 0.25s;

        .burger-container {
            transform: rotate(90deg);

            #burger {
                .bar {
                    transition: all 0.4s $cubic;
                    transition-delay: 0.2s;

                    &.topBar {
                        transform: translateY(4px) rotate(45deg);
                    }

                    &.btmBar {
                        transform: translateY(3px) rotate(-45deg);
                    }
                }
            }
        }

        ul.menu {
            li.menu-item {
                transform: scale(1) translateY(0px);
                opacity: 1;

                @for $i from 1 through $menuItems {
                    &:nth-child(#{$i}) {
                        transition-delay: #{0.07 * $i+0.2}s;
                    }
                }
            }
        }
    }
}


//main
.main {
    min-height: calc(100vh - 61px);
    padding-top: 70px;
}

//footer

.footer {
    display: flex;
    justify-content: center;
    background: $header;
    padding: 20px;
    font-size: 14px;
    color: $white;
}

//aboutMe
.aboutMe {
    display: flex;
    justify-content: space-between;

    &__icon {
        width: 50%;

        img {
            width: 100%;
            object-fit: contain;
        }

        &Wrap {
            display: flex;
            flex-wrap: wrap;
            width: 55%;
        }

        &Main {
            width: 100%;
        }
    }

    &__text {
        width: 40%;
    }
}
